/*hoja de estilos de las FAQ*/

/*----PREGUNTAS----*/

.banner-main{
	height: 50vh;
	width: 100%;
}

.faq-banner{
	height: 100%;
	padding-top:90px;
	background-color: rgba(112,202,228,1);
	/*background-image: url("../images/backgrounds/faq-banner-2.png")*/
	background-size: cover;
	background-position: bottom;
	background-repeat: no-repeat;
	position: relative;
}

.banner-title{
	position: absolute;
	display: inline-block;
	top:50%;
	left:10%;
	font-size: 2.2em;
	color:#70CAE4;
	font-weight: 900;
	text-transform: uppercase;
	letter-spacing: 3px;
}

.faq-title{
	display: inline;
	background-color: #FFFFF0;
	padding: 0 15px;
}

.title-right{
	position: relative;
	left:5%;
}

.banner-info{
	display: inline-block;
	position: absolute;
	top:55%;
	right: 10%;
}

.banner-text{
	text-align: center;
	font-size: 1.25em;
}

.banner-text-ref{
	font-weight: bold;
	color:#333;
}

.banner-1-div{
	background-image: url("../images/backgrounds/faq-banner-1.png");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	height: 200px;
}

.container-faq{
	display: block;
	width: 100%;
	margin: auto;
	text-align: center;
}

.cont-preguntas{
	position: relative;
	width: 90%;
	margin: auto;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}

.cont-preguntas-left{
	width: 50%;	
	display: flex;
	flex-direction: column;
	align-items: center;

}
.cont-preguntas-right{
	width: 50%;	
	display: flex;
	flex-direction: column;
	align-items: center;
}

.pregunta{
	width: 90%;
	display: inline-block;
	margin-top: 30px;
	transition: all .3s;
}


.title:hover{
	cursor:pointer;
	text-decoration: underline;
}

.pregunta > h2{
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	font-size: 1.4em;
	margin:auto;
	color:#70CAE4;
}

.pregunta > p{
	width: 80%;
	margin: auto;
	font-size: 1.1em;
	padding: 5px;
	transition: all .3s;
	color:#444;
}

.fixer{
	display: block;
	visibility: hidden;
	height: 10px;
}


@media (max-width: 1060px){
	.banner-info{
		display: none;
	}

	.faq-banner{
		top:0;
		left:0;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.banner-title{
	
	}
}

@media screen and (max-width: 900px){
	.container-faq{
		padding-top: 0px;
	}
	
	.page-title{
		font-size: 3.4vw;
	}

	.cont-preguntas-left,
	.cont-preguntas-right{
		width: 100%;	
	}

	.pregunta > p{
		display: block;
	}
}


@media screen and (max-width: 580px){
	.banner-title{
		font-size: 5vw;
	}

	.cont-preguntas{
		width: 100%;
	}

	.cont-preguntas-left,
	.cont-preguntas-right{
		width: 100%;	
	}

	.pregunta{
		border: none;
		border-radius: 0;
		width: 100%;
		max-height: none;
		margin-top: 0;
	}
	
	.pregunta > h2{
		border-top-left-radius: 0;
		border-top-right-radius: 0;
	}
	
	.pregunta > p{
		display: block;
		width: 100%;
	}
}	


