/*===============================
 HOME BANNER START
=================================*/
button{
	border: none;
	background-color: transparent;
}

button:hover{
	cursor:pointer;
}

.selected{
	z-index: 1; 
	opacity: 1; 
	transition: all 2s ease 0s;
}

.noselected{
	z-index: 0; 
	opacity: 0; 
	transition: all 2s ease 0s;
}

.banner{
	background-color:grey;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	width: 100%;
	height: 100vh;
	/*transition: all 1s ease-in-out 0s;*/
}

.banner-image{
	position: absolute; 
	top: 0; 
	left: 0; 
	width: 100%;
	text-align: center;
	height: 100%;
}

.test{
	position: absolute;
	width: 100%;
	height: 100vh;
}
/*************DOTS***************/
.container-dots{
	position: absolute;
	bottom:10px;
	right:20px;
	margin-top: 15px;
	overflow: hidden;
}

.galery-dots{
	z-index: 0;
	display: flex;
	flex-direction: row;
	justify-content: center;

}

.dot-style{
	z-index: 0;
	
	margin-left: 8px;
	margin-right: 8px;
}

.image-dot{
	
	color:rgb(52,180,221);
	font-size: 3em;
	transition: all 1s ease 0s;
	width: 25px;
	height: 25px;
}

.current{
	color:white;
	transition: all 1s ease 0s;
}
/*********************************/
.banner-title{
	text-align: center;
	width: 100%;
	font-size:4em;
	padding: 10vh 0;
	color:#222;
	background-color: rgba(52,221,221,.5);
	position:absolute;
	top:30%;
}

.banner-knowus{
	position: absolute;
	/*bottom: 20%;
	left:50%;*/
	bottom:15px;
	left:4%;
}

.banner-arrow{
	color: rgba(52,221,221,.9);
    animation: MoveUpDown 1.2s linear infinite;
}

@keyframes MoveUpDown {
	75% {
		transform:translate(0,-30%);
	}
	25% {
		transform:translate(0,30%);
	}
}

/*===============================
 SECTION CONTAINER > about
=================================*/
.section-container{
	width: 100%;
	display: inline-block;
}

.mainSection{
	width: 100%;
}

/*--SECTIONS BG--*/
.mainSection.about{background-color: transparent;}


/*--ABOUT SECTION--*/

.about-intro{
	width: 100%;
	position: relative;
	padding: 30px;
	margin: auto;
	text-align: center;
}

.about-intro-description{	
	text-align: center;
	display:inline-block;
	vertical-align: top;
	margin: 35px;
	width:40%;
	overflow: hidden;
}

.align-info{
	text-align: center;
	vertical-align: top;
	display: inline-block;
	width: 70%;
	margin:auto;
	margin-top: -60px;
	margin-bottom: 20px;
}
/*

.align-right{
	width: 50%;
	margin: 40px 0;
	margin-left: 100px;
	float:right;

}

.align-left{
	width: 50%;
	margin: 40px 0;
	margin-right: 100px;
	float:left;
}

.align-center{
	width: 50%;
	margin: 40px auto;
}*/

.intro-description-title{
	font-weight: normal;
}

.about-intro-image{
	background-color: white;
	width: 10%;
}

/*--WORK > steps--*/
.about-work{
	text-align:center;
	width: 100%;
}

.work-steps::before{
	display:block;
	position: absolute;
	content:"";
	width: 100%;
	height: 1px;
	background-color: grey;
}

.work-steps, .step-numbers{
	display: flex;
	justify-content: space-around;
	flex-direction: row;
}

.step{
	width: 20%;
}

.step-number-conf{
	width: 20%;
	font-weight: bold;
	font-size: 3em;
}

.step::before{
	display:block;
	content:"";
	height: 13px;
	width: 13px;
	border-radius: 50%;
	margin: 0 auto;
	margin-top:-5px;
	background-color: chocolate;
	position: relative;
	z-index: 1;
}

/*--title & circles (steps)--*/
.circle-one::before {background-color: #22C6E4;}
.title-step-one{color:#22C6E4;}

.circle-two::before{background-color: #E81560;}
.title-step-two{color: #E81560;}

.circle-three::before{background-color: #16BF0D;}
.title-step-three{color: #16BF0D;}

.circle-four::before{background-color: #FDB906;}
.title-step-four{color:#FDB906;}

.about-buttonCont{
	width: 50%;
	margin-left: 25%;
	margin-right: 25%;
	margin-top: 60px;
	display:flex;
	justify-content: space-around;
}


/*Media for tablets and big devices*/



@media (max-width: 1005px){
	.about-intro-description{
		margin:7px;
	}

	.work-step-title{
		font-size: 1.25em;
	}
}

@media (max-width: 750px){
	.banner-title{
		top: 37%;
		font-size: 3em;
		padding:3vh 0;
	}

	.about-intro-description{
		font-size: 1em;
		width: 300px;
	}

	.align-info{
		width: 100%;
		margin: 40px auto;
		margin-top: -50px;
	}

	.about-buttonCont{
		margin:0;
		width: 100%;
		font-size: 1.3em;
	}

	.work-steps{
		display: block;
		width: 95%;
		margin: auto;
		position: relative;
	}

	.step-numbers{
		display: none;
	}

	.work-steps::before{
		display:block;
		position: absolute;
		content:"";
		width: 1px;
		height: 100%;
		background-color: grey;
		left:6px;
	}

	.step {
		position: relative;
		width: 100%;
		text-align: left;
		margin-bottom:50px;
	}

	.step::before{
		display: none;
	}
	
	.work-step-text{
		width: 80%;
		position: relative;
		left: 30px;
	}

	.work-step-title::before{
		content:"";
		height: 13px;
		width: 13px;
		border-radius: 50%;
		background-color: chocolate;
		display:inline-block;
		margin-right: 3px;
		position: relative;
		z-index: 1;
	}

	.circle-one::before {background-color: #22C6E4;}

	.circle-two::before{background-color: #E81560;}

	.circle-three::before{background-color: #16BF0D;}

	.circle-four::before{background-color: #FDB906;}
}


@media(max-width: 480px){
	.container-dots{
		display: none;
	}
	.banner-title{
		font-size: 2.2em;
	}
	.work-step-title{
		font-size:1.3em;
	}
}

@media (max-width: 360px){
	.about-intro-description{
		max-width: 200px;
	}
}