/*
--------------------------------------------------------------------------------
 *************************
 *****CSS MAIN******
 *************************

 Content:
  
  body:
    Se define un BG, font y margin.
  ------

  a:
    Link sin decoracion y con display block.
  ------
  
  ol,ul{
	Listas sin estilos.
  }
  ------
  
  ----------
  ############
  ## HEADER ##
  ############
  ----------

  .home-header

--------------------------------------------------------------------------------
*/

/*---------------------------
	GENERIC ELEMENTS
---------------------------*/

/*============================
			RESET
============================*/
*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}

body{
	background-image: url("../images/backgrounds/bg1-one.png");
	background-repeat: repeat;
	font-family: 'Raleway', helvetica;
	margin: auto;
	font-size: 1.15em;
	color:#333;
}

a{
	text-decoration: none;
	display: block;
	color:black;
}

ol,ul{
	list-style-type: none;
}

button{
	background-color: transparent;
	border: 0;
}

/*===============================
 HORIZONTAL MENU BAR > nav & log
=================================*/

.hamburguer-menu *{
	display: none;
}

.ham-resp{
	display: none;
	position: fixed;
	z-index: 800;
	/*color: #E8B582;*/
	color: rgba(221,137,52,.9);
}

.main-menu{
	display: flex; 
	flex-direction: column; 
	width:100%;
	position: fixed;
	z-index: 100;
	top: 0;
}
.horizontal-menu{
	background-color: white;
	display: flex;
	justify-content: space-between;
	width: 100%;
}

.horizontal-menu ul:after {
	content: " ";
	display: block;
	font-size: 0;
	height: 0;
	clear: both;
	visibility: hidden;
}

.horizontal-menu a{
	height: 100%;
	text-decoration: none;
	display: block;
	padding: 15px 25px;
	font-weight: 700;
	text-transform: uppercase;
	font-size: .8em;
	position: relative;
	transition: all .25s;
}

.horizontal-menu a:hover {
	color: rgba(100,200,228,1);
}

.horizontal-menu a:hover:before {
	width: 100%;
}


.horizontal-menu a:before {
	content: "";
	display: block;
	position: absolute;
	left: 0;
	bottom: 0;
	height: 3px;
	width: 0;
	background-color: rgba(100,200,228,.6);
	transition: width .25s;
}

.horizontal-menu-nav a:after {
	content: "";
	display: block;
	position: absolute;
	right: -3px;
	top: 19px;
	height: 6px;
	width: 6px;
	background: black;
	opacity: .5;
}


.page-active a {
	color: rgba(100,200,228,1);
}

.page-active a:before {
	width: 100%;
}

.horizontal-menu li:last-child > a:after {
	display: none;
}

.horizontal-menu li{
	height: 100%;
	display: inline-block;
}

.horizontal-menu-log{
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.ham-desplegable{
	position: relative;
}

.ham-menu-log-user{
	display: flex;
	align-items: center;
}

.menu-log-user-image{
	height: 40px;
	width: 40px;
	display: block;
	border-radius:50px; 
	color: chocolate;
}

.menu-log-name{
	display: block;
	margin-left: 5px;
	text-align: left;
	text-transform: uppercase;
}

.ham-desplegable-user{
	padding: 0;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.ham-options{
	position: absolute;
    visibility: hidden;
    top:50px;
    z-index: 500;
}

.ham-options li{
	display:block;
	margin-left:0;
	width: 180px;
	text-align: center;
	background-color: white;
}

.ham-desplegable:hover .ham-options{
	transition:.5s;
	visibility: visible;
}


.shop-cart-menu{
	width: 74.8px;
	text-align: center;
}

.shop-cart{
	color: #444;
	transition: all .3s;
}

.shop-cart-menu:hover .shop-cart{
	color: rgb(100,200,228);
}

/*******************PRODUCTOS MENU *********************/
.menu-products{
	z-index: 100;
	padding-left: 15px;
	padding-right: 15px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	background-color: #444;

}

.products-section{
	width: 100%;
	display: flex;
	justify-content: flex-start;
	align-items: center;

}

.products-section li {
	transition: all .5s;
}


.product-category{
	margin:auto;
	margin-left: 8px;
	margin-right: 8px;
	padding-top:15px;
	padding-bottom:15px;
	color:white;
}
.product-category:hover,
.category-selected{
	color: rgb(100,200,228);
}

/*===============================
 FOOTER > footer-nav
=================================*/
.main-footer-wave{
	background-image: url("../images/backgrounds/footer-wave-2-3-1.png");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	height: 250px;
	width:100%;
	opacity: .7;
	position: relative;
	margin-top: 50px;
	bottom:0;
}

.main-footer{
	/*background-image: url("../images/backgrounds/footer-bg-2.png");*/
	position: relative;
	background-color: rgba(52,180,221,.7);
	background-size: cover;
	height: 230px;
	width: 100%;

}

.main-footer-data{
	width: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	position: absolute;
	bottom:40%;
	font-size: 1.2em;
	color:white;
}

.main-footer-data-contact{
	margin-top: 20px;
	margin-bottom: 20px;
}

.main-footer-logo{
	font-size: 1.4em;
}

.main-footer-data-social{
	width: 300px;
	display: inline-block;
	margin-top: 20px;
	margin-bottom: 20px;
}

.main-footer-data-direction{
	margin-top: 20px;
}

.main-footer-copyright{
	position: absolute;
	bottom: 0;
	right:0;
	color:grey;
}

.display-flex{
	display:flex;
	justify-content: space-between;
}

.social-cont{
	color: white;
	height: 100%;
	width: 100%;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.social{
	display: block;
	height: 55px;
	width: 55px;
}

.instagram:hover{
	background-color:#A740A7;
}

.facebook:hover{
	background-color: #3C5A99;
}

.skype:hover{
	background-color: #00AFF0;
}

.linkedin:hover{
	background-color: #006699;
}

.twitter:hover{
	background-color: #6FAEDF;
}

/********************************
*			General uses    	*
********************************/
.lbl-error{
	width: 70%;
	color: #ff2e2e;
	opacity: .7;
	text-align: left;
	font-size: 1em;
}

.lbl-ok{
	width: 70%;
	color: green;
	opacity: .7;
	text-align: left;
	font-size: 1.2em;
}

.lbl-confirm{
	width: 70%;
	color: #2da209;
	opacity: .7;
	text-align: left;
	font-size: 1em;
}

.page-active{color: rgba(100,200,228,1);}

.mail-to{color:grey;}

.page-title{
	text-transform: uppercase;
	text-align: center;
	padding-top: 90px;
	padding-bottom: 50px;
	color:#444;
}

.page-title::after, .page-title::before{
	display: block;
	margin: 0 auto;
	content:"";
	height: 13px;
	width: 13px;
	border: 2px solid grey;
	transform: rotate(45deg);
}

.standard-button{
	border-radius: 30px;
	padding: 10px 20px;
	transition:.2s;
}

.standard-button:hover{
	background-color: transparent;
}

.button-green:hover{color:#89DA90;}
.button-red:hover{color:#FF8B94;}
.button-cyan:hover{color:rgb(52,221,221);}
.button-white:hover{color:#fff;}

.button-green{
	border:2px solid #89DA90;
	background-color: #89DA90;
}

.button-red{
	background-color: #FF8B94;
	border:2px solid #FF8B94;
}

.button-cyan{
	background-color: rgb(52,221,221);
	border:2px solid rgb(52,221,221);
}

.button-white{
	background-color: #fff;
	border:2px solid #fff;
}

.bgc-violet{background-color: #CDA7C0;}
.bgc-blue{background-color: #ABB6D6;}
.bgc-green{background-color: #B1B666;}
.bgc-pink{background-color: #E7B2AA;}
.bgc-lightblue{background-color: #A5C3DD;}
.bgc-brown{background-color: #E8BA86;}


/****************************************************************************************
*										PRODUCT STEPS
****************************************************************************************/

.shop-steps{
	background-color: #F2F3F2;
	height: 200px;
	display: flex;
	align-items: flex-end;
	padding: 0 130px;
	padding-bottom:30px;
	justify-content: space-around;
	position: relative;
}

.helper{
	display: flex; 
	flex-direction: column;
	align-items: center;
	opacity: .6
}
.shop-step{
	width: 60px;
	height: 60px;
	background-color: #BBBBBB;
	color: #EEEEEE;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.shop-active .shop-step{
	background-color: #5DC2E3;
	color:white;
}

.shop-active .shop-step-name{
	color: #5DC2E3;
}

.shop-step-name{
	font-weight: bold;
	color:  #BBBBBB;
}

@media (max-width: 1170px){
	.shop-steps{
		padding-left: 0;
		padding-right: 0;
	}
}

/*De acuerdo a la hamburguesa*/
@media(max-width: 1100px){
	.shop-steps{
		padding: 0;
		align-items: center;
	}
}

@media(max-width: 990px){
	.shop-steps{
		font-size: .8em;
	}
}

@media(max-width: 536px){
	.shop-steps{
		height: auto;
		padding-left: 30px;
		padding-top: 10px;
		padding-bottom: 10px;
	}
	.shop-step-name{
		text-align: center;
	}
	.shop-step{
		height: 40px;
		width: 40px;
	}

	.helper{
		margin-bottom: 5px;
		margin-left: 5px;
		margin-right: 5px;
		justify-content: center;
	}
}

@media (max-width: 420px){
	.helper{
		display: none;
	}
	.shop-steps{
		font-size: 1.1em;
		padding-left: 0;
	}
	.shop-step{
		height: 60px;
		width: 60px;
	}
	.shop-active{
		display: flex;
	}
}
/************************************END PRODUCT STEPS**********************************/


/*********************MENU************************/
@media (max-width: 1100px){
	.ham-resp{
		display: block;
		padding: 10px;
	}
	.horizontal-menu{
		display: none;
	}

	.hamburguer-menu *{
		display: block;

	}

	.hamburguer-menu{
		border-right: 1px solid rgba(100,200,228,.6);
		flex-direction: column;
		width: 80vw;
		height: 100vh;
		position: absolute;
		z-index: 200;
		top: 0;
		background-color: white;
		justify-content: space-around;
	}

	@keyframes fadein {
		from{width: 0; opacity:0;}
		to {width: 80vw; opacity: 1}
	}

	@keyframes fadeout {
		from{width: 80vw; opacity:1;}
		to {width: 0; opacity: 0}
	}

	.hamburguer-menu li{
		text-align:center;
	}

	.hamburguer-menu a{
		transition: background-color 0.5s;
		width: 100%;
		padding: 10px;
	}

	.ham-horizontal-menu-nav a{
		border-bottom: 1px solid rgba(100,200,228,.6);
	}

	.hamburguer-menu li.last > a,
	.hamburguer-menu li:last-child > a {
		border: 0;
	}
	.hamburguer-menu a:after {
		display: none;
	}
	.horizontal-menu li a:before {
		display: none;
	}

	.ham-desplegable{
		width: 100%;
	}

	.ham-options li{
		background-color: transparent;
	}

	.ham-horizontal-menu-log{
		margin-top: 30px;
		width:100%;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
	}

	.ham-menu-log-user{
		display: flex;
	}

	.ham-desplegable-user.ham-desplegable-user{
		justify-content: flex-start;
	}

	.ham-options{
		visibility: visible;
		position: static;
	}
	.ham-options li {
		text-align: left;
	}

	/****************************
	*		PRODUCTS
	****************************/
	.menu-products{
		padding:0;
		flex-wrap: wrap;
		background-color: #444;
		font-size: .8em;
		min-height: 60px;
	}

	.products-section{
		padding-left: 60px;
		width: 100%;
		display: flex;
		justify-content: flex-start;
		align-items: center;
		flex-wrap: wrap;
		min-height: 60px;
	}

	.product-category{
		margin:0;
		padding:5px 8px;
	}
	
	.course{
		display: none;
	}
}
/**********************FIN MENU***********************/

@media (max-width: 750px){
	.page-title::before,.page-title::after{
		width: 10px;
		height: 10px;
	}

	.standard-button{
		font-size:1em;
	}

	.main-footer-data{
		bottom:20%;
		flex-wrap: wrap;
		align-content: center;
		text-align: center;
	}

	.main-footer-data-contact{
		display: none;
		margin-left: 20px;
	}

	.main-footer-data-social{
		margin-right: 20px;
	}

	.main-footer{
		height: 300px;
	}
}
/***************************************************/