.banner{
	background-image: url("../images/backgrounds/shopping.jpg");
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	width: 100%;
	height: 80vh;
}

.products-container{
	width: 90%;
	margin:auto;
	margin-top: 30px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	font-size: 1.3em;
}

.product-item{
	background-color: #82D2E8;
	width: 360px;
	height: 510px;
	display: inline-block;
	margin: 8px;
	color: white;
	transition:all .4s;
	font-size: 1em;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	position: relative;
	border: 1px solid #82D2E8;
	margin: 15px;
}

.info-container{
	position: relative;
	margin-bottom: 10px;
}

.product-price{
	transition: all .6s;
}

.product-option{	
	position: absolute;
	opacity: 0;
	top:0;
	transition: all 0.6s;
}

.product-item:hover{
	/*background-color: #E8D982;*/
	color: #444;

}

.product-image{
	width: 100%;
	height: 80%;
	background-color: #82D2E8;
	border-bottom: 1px solid #82D2E8;
}

.product-image-resize{
	width: 100%;
	height: 100%;
}

.product-special{
	position: absolute;
	top:10px;
	left: -8px;
}

.pagination{
	padding: 20px;
	display: flex;
	width: 15%;
	margin:auto;
	font-size: 1.3em;
	justify-content: space-around;
	font-weight: bold;
	color: #444;
}

.pagination .active{
	color: rgb(49,179,217);
}

@media(max-width: 935px){
	.products-container{
		width: 90%;
	}
	.product-item{
		height: 400px;
		width: 300px;
		font-size: .8em;
	}	

	.pagination{
		width: 20%;
	}
}

@media(max-width: 785px){
	.products-container{
		width: 90%;
	}
	.product-item{
		height: 360px;
		width: 260px;
		font-size: .8em;
	}	
	.pagination{
		width: 30%;
	}
}

@media(max-width: 615px){
	.products-container{
		width: 100%;
	}
	.product-item{
		height: 300px;
		width: 200px;
		font-size: .6em;
	}	

	.pagination{
		width: 45%;
	}
}

@media(max-width: 436px){
	.product-item{
		height: 300px;
		width: 220px;
		
	}	
	.product-item{
		height: 360px;
		width: 260px;
		font-size: .8em;
	}	
	.pagination{
		width: 50%;
	}
}
