.container{
	width: 90%;
	margin: auto;
	padding-top: 100px;
	display: flex; 
	justify-content: space-between;
}

.shop-cart{
	width: 60%;
}

.item-summary{
	border: 2px solid #B1E2EF;
	border-radius: 30px;
	width: 100%;
	margin-top: 20px;
	margin-bottom: 20px;
	display: flex;
	align-items: center;
	position: relative;
	background-color: white;
}
.item-picture{
	margin-left: 40px;
	width: 200px;
	height: 200px;
}

.item-info{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	margin-left: 35px;
	justify-content: space-around;
	width: 40%;
	height: 200px;

}

.item-description{
	display: flex;
	justify-content: space-between;
	width: 100%;
	padding-top:5px;
	border-top: 1px solid #777
}

.item-name{
	font-size: 1.8em;
	font-weight: bold;

}

.item-title{
	
	font-size: 1.2em;
}

.item-value{
	font-weight: bold;
}

.buton{
	position: absolute;
	top: 15px;
	right: 25px;
}

.item-delete{
	font-size: 1.5em;
	transition: all .2s;
}

.item-delete:hover{
	cursor: pointer;
	color: #5DC2E3;
}


.msg-error{
	margin: auto;
	padding: 0;
}

.msg-error a{
	color: #5DC2E3;
}

@media (max-width: 1170px){
	.item-picture{
		height: 150px;
		width: 150px;
	}
	.item-info{
		height: 150px;
	}

	.item-name{
		font-size: 1.6em;
	}

	.item-info{
		width: 50%;
	}
	.button-buy{
		padding: 15px 20px;
	}
}



@media(max-width: 990px){
	.container{
		display: block;
		margin: auto;
	}
	.shop-cart{
		width: 100%;
	}

	.item-picture{
		height: 200px;
		width: 200px;
	}
	.item-info{
		height: 200px;
	}	
}

@media(max-width: 650px){
	.item-picture{
		height: 120px;
		width: 120px;
	}
	.item-info{
		height: 120px;
	}

}

@media(max-width: 536px){
	.item-picture{
		margin: 0;
	}
	.item-summary{
		flex-direction: column;
	}
	.item-info{
		height: auto;
		width: 80%;
		margin: 0;
		margin-bottom: 5px;
	}
	.item-description{
		flex-direction: column;
		margin: 0;
	}	
}
